{
  "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module"
    },
    "env": {
      "browser": true,
      "node": true,
      "jasmine": true,
      "jest": true
    },
    "globals": {
      "_": true,
      "angular": true
    },
    rules: {
      "no-plusplus": ["off"],
      "no-param-reassign": ["off"],
      "multiline-ternary": ["off"],
      "max-len": ["off"],
      "class-methods-use-this": ["warn"],
      "no-restricted-properties": ["off"],
      "prettier/prettier": [
        "error",
        {
          singleQuote: true,
          tabWidth: 2,
          printWidth: 80,
          bracketSpacing: true,
          trailingComma: "es5"
        }
      ]
    }
}