/*--  [normalize]  ---------------------------------------------------*/
@import "../../node_modules/normalize.css/normalize.css";
/*--  [angular-materials]  ------------------------------------------------*/
@import "../../node_modules/angular-material/angular-material.min.css";
/*------------------------------------------------------------------
[LAYOUT]
------------------------------------------------------------------*/
body {
  position: relative;
  height: 100%;

  .drawer {
    z-index: 100;
  }

  main {
    position: relative;

    section {
      @media screen and (min-width: 1024px) {
        max-width: 1024px;
        margin: 0 auto;

        md-card {
          min-width: 960px;
        }
      }
    }
  }
}